policy_module(pwrb, 1.100.1)

########################################
#
# Declarations
#

type pwrb_t;
type pwrb_exec_t;
init_daemon_domain(pwrb_t, pwrb_exec_t)

permissive pwrb_t;

type pwrb_initrc_exec_t;
init_script_file(pwrb_initrc_exec_t)

type pwrb_conf_t;
files_type(pwrb_conf_t)

type pwrb_var_lib_t;
files_type(pwrb_var_lib_t)

type pwrb_var_run_t;
files_type(pwrb_var_run_t)

type pwrb_port_t;
corenet_port(pwrb_port_t)

########################################
#
# pwrb local policy
#
allow pwrb_t self:process { fork };

allow pwrb_t self:fifo_file rw_fifo_file_perms;
allow pwrb_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(pwrb_t, pwrb_conf_t, pwrb_conf_t)
manage_files_pattern(pwrb_t, pwrb_conf_t, pwrb_conf_t)

manage_dirs_pattern(pwrb_t, pwrb_var_lib_t, pwrb_var_lib_t)
manage_files_pattern(pwrb_t, pwrb_var_lib_t, pwrb_var_lib_t)
files_var_lib_filetrans(pwrb_t, pwrb_var_lib_t, { dir file })

manage_dirs_pattern(pwrb_t, pwrb_var_run_t, pwrb_var_run_t)
manage_files_pattern(pwrb_t, pwrb_var_run_t, pwrb_var_run_t)

sysnet_dns_name_resolve(pwrb_t)
corenet_all_recvfrom_unlabeled(pwrb_t)

allow pwrb_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(pwrb_t)
corenet_tcp_sendrecv_generic_node(pwrb_t)
corenet_tcp_sendrecv_all_ports(pwrb_t)
corenet_tcp_bind_generic_node(pwrb_t)

gen_require(`
    type pwrb_port_t;
')
allow pwrb_t pwrb_port_t:tcp_socket name_bind;

gen_require(`
    type pwrb_port_t;
')
allow pwrb_t pwrb_port_t:tcp_socket name_connect;

domain_use_interactive_fds(pwrb_t)

files_read_etc_files(pwrb_t)

miscfiles_read_localization(pwrb_t)

sysnet_dns_name_resolve(pwrb_t)

allow pwrb_t pwrb_exec_t:file execute_no_trans;
allow pwrb_t self:process setsched;
corecmd_exec_ls(pwrb_t)
corenet_tcp_connect_http_port(pwrb_t)
dev_read_urand(pwrb_t)
fs_getattr_xattr_fs(pwrb_t)
kernel_read_system_state(pwrb_t)
